# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database credentials is used to connect to your Supabase database.
DATABASE_HOST=127.0.0.1
DATABASE_USER=app
DATABASE_PASSWORD=password
DATABASE_NAME=getblitz

# Redis URL
REDIS_URL="redis://localhost:6380"

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://www.better-auth.com/docs/installation
AUTH_SECRET='your-secure-better-auth-secret'

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://www.better-auth.com/docs/authentication/google
AUTH_GOOGLE_ID=XXX
AUTH_GOOGLE_SECRET=XXX

# Application
APPLICATION_ENV=development
ENABLE_WEBSOCKET=true
# You can generate the secret via 'openssl rand -hex 32' on Unix
ENCRYPTION_KEY='your-secure-encryption-key'
NEXT_PUBLIC_APP_URL=http://localhost:3000
PROJECT_URL=http://localhost:3000
